<nav class="page-navigation">
    <div class="nav-page nav-page-home">
        <a href="#" class="pagination-link">
            <span class="material-symbols-outlined">arrow_back</span>
            <span class="nav-page-text">Précédent</span>
        </a>
    </div>
    <div class="nav-page nav-page-next">
        <a href="#" class="pagination-link">
            <span class="nav-page-text">Suivant</span>
            <span class="material-symbols-outlined">arrow_forward</span>
        </a>
    </div>
</nav>
